<span class="wordmark-lockup" aria-hidden="true">
  <img class="wordmark theme-asset theme-asset--light" src="/wordmark.svg" alt="" width="763" height="76" fetchpriority="high">
  <img class="wordmark theme-asset theme-asset--dark" src="/wordmark-light.svg" alt="" width="763" height="76" fetchpriority="high">
</span>
